* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

body {
    background-color: #a0d8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    width: 100%;
    max-width: 800px;
}

h2 {
    text-align: center;
    color: #555;
    margin-bottom: 35px;
    font-weight: 600;
}

.row {
    display: flex;
    gap: 20px;
    margin-bottom: 5px;
}

.input-group {
    position: relative;
    width: 100%;
    margin-bottom: 25px;
}

input,
select,
textarea {
    width: 100%;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    font-size: 16px;
    color: #333;
    background-color: white;
    transition: border-color 0.2s, box-shadow 0.2s;
}

input:focus,
select:focus,
textarea:focus {
    border-color: #0076c0;
    box-shadow: 0 0 0 2px rgba(0, 118, 192, 0.1);
}

textarea {
    resize: none;
}

.input-group label {
    position: absolute;
    left: 15px;
    top: 16px;
    color: #999;
    padding: 0 4px;
    background-color: white;
    pointer-events: none;
    transition: all 0.2s ease-out;
}


input:focus+label,
input:not(:placeholder-shown)+label,
textarea:focus+label,
textarea:not(:placeholder-shown)+label,
select:focus+label,
select:valid+label {
    top: -10px;
    left: 10px;
    font-size: 12px;
    color: #0076c0;
    font-weight: bold;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

button {
    background-color: #0076c0;
    color: white;
    padding: 14px 45px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 118, 192, 0.3);
    transition: transform 0.1s, background-color 0.2s;
}

button:hover {
    background-color: #005fa3;
}

button:active {
    transform: scale(0.98);
}

@media (max-width: 650px) {
    .row {
        flex-direction: column;
        gap: 0;
    }

    .container {
        padding: 25px;
    }
}